<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Первый снег: Впечатления Ларса</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Шапка сайта -->
<header class="blog-header">
        <div class="container">
             <div class="d-flex justify-content-between align-items-center">
                <h1 class="h1">Блог Ларса</h1>
                <nav>
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link text-white" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/about/">О нас</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/contacts/">Контакты</a></li>
                    </ul>
                </nav>
             </div>
        </div>
    </header>
    <!-- Основной контент -->
    <main class="container content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!-- Заголовок поста -->
                <h2 class="blog-post-title">Моя жизнь: Игры и забавы</h2>
                <p class="blog-post-meta">21 Мая 2023 года, автор Ларс</p>
                <!-- Изображение поста -->
                <div class="card" style="width: 50rem;">
                    <img src="../static/image/blog2-1.jpg" alt="Ларс играет" class="post-image mb-4">
                    <div class="card-body">
                        <p>Я, Ларс, черная длинношерстная немецкая овчарка, обожаю играть!
                            Каждый день для меня — это новое приключение, полное радости и веселья. Позвольте рассказать вам о моих любимых играх.</p>
                        <p>Когда утро наступает, и солнечные лучи пробиваются через окно, я уже на ногах, с нетерпением ожидая, когда моя семья проснется.
                            Первое, что я делаю, — это прыгаю к ним на кровать и радостно вилляю хвостом. Они смеются и гладят меня, и я чувствую, что день
                            будет замечательным.</p>
                        <p>После завтрака мы выходим на улицу. Это время для игры на свежем воздухе! Я обожаю бегать по парку, где меня ждут мои пушистые
                            друзья. Мы устраиваем настоящие гонки, и я стараюсь бежать как можно быстрее, чувствуя ветер в ушах. Иногда я останавливаюсь,
                            чтобы покрутиться вокруг своих друзей, и мы все вместе весело лаем друг на друга.</p>
                        <p>Одной из моих любимых игр является «принеси мяч». Моя семья бросает мяч, и я с радостью мчусь за ним. Я чувствую, как адреналин
                            наполняет меня, когда я прыгаю и ловлю мяч в воздухе. Возвращаясь, я гордо приношу его обратно, и это снова повторяется.
                            В такие моменты я чувствую себя настоящим чемпионом!</p>
                        <p>После игр на улице я люблю немного поиграть и дома. У меня есть множество игрушек: мягкие мишки, канаты и даже мячики с пищалками.
                            Я обожаю жевать свои игрушки, а иногда играю в прятки, пряча свои игрушки в самых неожиданных местах. Моя семья смеется, когда
                            находит их в неожиданных уголках дома, и я с гордостью смотрю на них, как будто говорю: «Вот, смотрите, какое маленькое сокровище
                            я нашел!»</p>
                        <p>Вечером, когда наступает время покоя, я люблю устраиваться рядом с любимыми людьми, положив голову им на колени. Они гладят меня,
                            и я чувствую, как вся моя энергия постепенно уходит. Я мечтаю о завтрашних играх и новых приключениях, ведь для меня каждый день
                            — это возможность веселиться и радоваться жизни вместе с моей семьей.</p>
                        <p>Так проходит мой день, полный игр и счастья. Я, Ларс, черная длинношерстная немецкая овчарка, всегда готов к новым приключениям
                            и играм!"</p>
                        <a href="/" class="btn btn-primary">Вернуться</a>
                    </div>
                </div>
    </main>
    <!-- Футер -->
    <footer class="text-white py-4 mt-4">
        <div class="container text-center">
            <p>Контактная информация:  mail@mail.com</p>
            <p>
                 <a href="#" class="text-white me-2">ВКонтакте</a>
                <a href="#" class="text-white me-2">Одноклассники</a>
                <a href="#" class="text-white">Телеграм</a>
            </p>
        </div>
    </footer>

    <!-- Подключение Bootstrap JS и Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>